@page
@model VHZ_App.Pages.CartModel
@{
    ViewData["Title"] = "Владимирский химический завод";
    string nn = "nfnfn";
}
<p class="otstup" />
<label class="cart-lbl">Корзина</label>
<p class="otstup" />
<p class="otstup" />
<label class="txt-cart">Количество товаров в корзине:</label>
<label class="cart-amount txt-cart">@Model.amount</label>
<label class="cart-amount-sht txt-cart">шт</label>
<br/>
@if (@Model.amount==0)
{
    <h1>Корзина пуста</h1>
    <p></p>
}
@foreach (var cart in Model.CartProducts)
{
    <div class="card-catalog" onclick="window.location.href='/CardProduct.Action(" SetProductId", new { idProduct=Model.Id })'">
        <div class="div-img-cart"></div>
        <label class="price-kg">Цена за 10кг</label>
        <input name="color" type="checkbox" value="red" class="check-cart"/>
        <br />
        <label class="price">@cart.IdProductNavigation.Price руб</label>
        <br />
        <label class="lbl-catalog">@cart.IdProductNavigation.NameProduct</label>
        <br />
        <label class="lbl-catalog">@cart.IdProductNavigation.Appointment</label>
        <br />
        <label class="lbl-catalog">@cart.IdProductNavigation.ProductCompliance</label>
        <br />
        <div class="d-none d-sm-flex ms-auto align-items-center">
            <button class="btn-cart" asp-area="">
                <i class="cart-remove-icon fas fa-trash-alt"></i>
            </button>
            <button class="btn-minus" type="button">-</button>
            <input type="number" class="form-control text-center quantity-input" value="1" min="1" max="10" />
            <button class="btn-plus" type="button">+</button>
            <button class="buy-bascket-btn" onclick="event.stopPropagation(); window.location.href='/MakingOrder'">Купить</button>
        </div>
    </div>
    <p></p>
}
<label class="txt-cart-16">ИТОГО:</label>
<label class="cart-amount txt-cart-16">@Model.price</label>
<label class="cart-amount-sht txt-cart-16">руб</label>
<button id="btn-cart-oform" onclick="window.location.href='/MakingOrder'">К оформлению</button>

<label class="end-text"></label>
<p></p>